:root {
  --fallen-space-1: 8px;
  --fallen-space-2: 16px;
  --fallen-space-3: 24px;
  --fallen-space-4: 32px;
  --fallen-space-5: 40px;
  --fallen-space-6: 48px;
  --fallen-space-7: 56px;
  --fallen-space-8: 64px;
  --fallen-space-9: 72px;
  --fallen-space-10: 80px;
}
